<form method="post">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.titulo.label }}
        {{ form.titulo(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.ano.label }}
        {{ form.ano(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.generos.label }}
        {{ form.generos(class="form-control", multiple=True, size=6) }}
    </div>

    <button type="submit" class="btn btn-primary">
        {{ form.submit.label.text }}
    </button>
</form>