name: Build e Deploy Docker no Windows

on:
  push:
    branches:
      - master

jobs:
  build-and-run:
    runs-on: [self-hosted, Windows]  # labels do seu runner

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      # Opcional: ver versão do Docker (dá pra tirar se quiser)
      - name: Verificar versão do Docker
        shell: powershell
        run: docker version

      - name: Build da imagem Docker
        shell: powershell
        run: |
          docker build -t flaskimdb:latest .

      - name: Parar container antigo (se existir)
        shell: powershell
        run: |
          docker stop flaskimdb 2>$null || echo "Nenhum container para parar"
          docker rm flaskimdb 2>$null || echo "Nenhum container para remover"

      - name: Subir novo container
        shell: powershell
        run: |
          docker run -d `
            --name flaskimdb `
            -p 5000:5000 `
            --restart unless-stopped `
            flaskimdb:latest
